body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf6f7;
}

code {
  font-family: "Poppins", sans-serif;
}

.table-text {
  color: #09a2b3;
}

.main-box {
  width: 96%;
  margin: 20px 2%;
  padding: 0 2%;
  border-radius: 5px;
}

.table-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

.text-gold {
  color: #ff9a19;
}

.btn-primary {
  background-color: #0aa6b7 !important;
}
